.dark{
--hhui-global-bg: #202124;
--hhui-global-bg-normal: #202124;
--hhui-base-bg: #2E2F31;
--hhui-base-bg-dark: #2e2f31;
--hhui-brand: #5e7ce0;
--hhui-brand-foil: #313a61;
--hhui-brand-hover: #425288;
--hhui-brand-active: #526ecc;
--hhui-brand-active-focus: #344899;
--hhui-contrast: #C7000B;
--hhui-text: #E8E8E8;
--hhui-text-weak: #A0A0A0;
--hhui-aide-text: #909090;
--hhui-aide-text-stress: #A0A0A0;
--hhui-placeholder: #8A8A8A;
--hhui-light-text: #ffffff;
--hhui-dark-text: #252b3a;
--hhui-link: #526ECC;
--hhui-link-active: #344899;
--hhui-link-light: #96adfa;
--hhui-link-light-active: #beccfa;
--hhui-line: #505153;
--hhui-dividing-line: #3D3E40;
--hhui-block: #606061;
--hhui-area: #34363A;
--hhui-danger: #f66f6a;
--hhui-warning: #fac20a;
--hhui-waiting: #5e6580;
--hhui-success: #50d4ab;
--hhui-info: #5e7ce0;
--hhui-initial: #64676e;
--hhui-unavailable: #5b5b5c;
--hhui-shadow: rgba(17, 18, 19, 0.4);
--hhui-light-shadow: rgba(17, 18, 19, 0.5);
--hhui-icon-text: #E8E8E8;
--hhui-icon-bg: #2E2F31;
--hhui-icon-fill: #606061;
--hhui-icon-fill-hover: #73788a;
--hhui-icon-fill-active: #5e7ce0;
--hhui-icon-fill-active-hover: #526ecc;
--hhui-form-control-line: #505153;
--hhui-form-control-line-hover: #909090;
--hhui-form-control-line-active: #5e7ce0;
--hhui-form-control-line-active-hover: #344899;
--hhui-list-item-active-bg: #5e7ce0;
--hhui-list-item-active-text: #ffffff;
--hhui-list-item-active-hover-bg: #526ecc;
--hhui-list-item-hover-bg: #383838;
--hhui-list-item-hover-text: #526ecc;
--hhui-list-item-selected-bg: #454545;
--hhui-list-item-strip-bg: #383838;
--hhui-disabled-bg: #3D3E44;
--hhui-disabled-line: #505153;
--hhui-disabled-text: #7D7D7D;
--hhui-primary-disabled: #2B3458;
--hhui-icon-fill-active-disabled: #2B3458;
--hhui-label-bg: #46443F;
--hhui-connected-overlay-bg: #2F2F2F;
--hhui-connected-overlay-line: #526ecc;
--hhui-fullscreen-overlay-bg: #2E2F31;
--hhui-feedback-overlay-bg: #4C4C4C;
--hhui-feedback-overlay-text: #DFE1E6;
--hhui-embed-search-bg: #383838;
--hhui-embed-search-bg-hover: #3D3E40;
--hhui-float-block-shadow: rgba(94, 124, 224, 0.3);
--hhui-highlight-overlay: rgba(255, 255, 255, 0.1);
--hhui-range-item-hover-bg: #454545;
--hhui-primary: #5e7ce0;
--hhui-primary-hover: #425288;
--hhui-primary-active: #344899;
--hhui-contrast-hover: #D64A52;
--hhui-contrast-active: #B12220;
--hhui-danger-line: #985C5A;
--hhui-danger-bg: #4B3A39;
--hhui-warning-line: #8D6138;
--hhui-warning-bg: #554434;
--hhui-info-line: #546BB7;
--hhui-info-bg: #383D4F;
--hhui-success-line: #5D887D;
--hhui-success-bg: #304642;
--hhui-primary-line: #546BB7;
--hhui-primary-bg: #383D4F;
--hhui-default-line: #5e7ce0;
--hhui-default-bg: #383838
}