$hhui-global-bg: var(--hhui-global-bg, #f3f6f8);
$hhui-global-bg-normal: var(--hhui-global-bg-normal, #ffffff);
$hhui-base-bg: var(--hhui-base-bg, #ffffff);
$hhui-base-bg-dark: var(--hhui-base-bg-dark, #333854);
$hhui-brand: var(--hhui-brand, #5e7ce0);
$hhui-brand-foil: var(--hhui-brand-foil, #859bff);
$hhui-brand-hover: var(--hhui-brand-hover, #7693f5);
$hhui-brand-active: var(--hhui-brand-active, #526ecc);
$hhui-brand-active-focus: var(--hhui-brand-active-focus, #344899);
$hhui-contrast: var(--hhui-contrast, #c7000b);
$hhui-text: var(--hhui-text, #252b3a);
$hhui-text-weak: var(--hhui-text-weak, #575d6c);
$hhui-aide-text: var(--hhui-aide-text, #8a8e99);
$hhui-aide-text-stress: var(--hhui-aide-text-stress, #575d6c);
$hhui-placeholder: var(--hhui-placeholder, #8a8e99);
$hhui-light-text: var(--hhui-light-text, #ffffff);
$hhui-dark-text: var(--hhui-dark-text, #252b3a);
$hhui-link: var(--hhui-link, #526ecc);
$hhui-link-active: var(--hhui-link-active, #526ecc);
$hhui-link-light: var(--hhui-link-light, #96adfa);
$hhui-link-light-active: var(--hhui-link-light-active, #beccfa);
$hhui-line: var(--hhui-line, #adb0b8);
$hhui-dividing-line: var(--hhui-dividing-line, #dfe1e6);
$hhui-block: var(--hhui-block, #ffffff);
$hhui-area: var(--hhui-area, #f8f8f8);
$hhui-danger: var(--hhui-danger, #f66f6a);
$hhui-warning: var(--hhui-warning, #fac20a);
$hhui-waiting: var(--hhui-waiting, #9faad7);
$hhui-success: var(--hhui-success, #50d4ab);
$hhui-info: var(--hhui-info, #5e7ce0);
$hhui-initial: var(--hhui-initial, #e9edfa);
$hhui-unavailable: var(--hhui-unavailable, #f5f5f6);
$hhui-shadow: var(--hhui-shadow, rgba(0, 0, 0, 0.2));
$hhui-light-shadow: var(--hhui-light-shadow, rgba(0, 0, 0, 0.1));
$hhui-icon-text: var(--hhui-icon-text, #252b3a);
$hhui-icon-bg: var(--hhui-icon-bg, #ffffff);
$hhui-icon-fill: var(--hhui-icon-fill, #d3d5d9);
$hhui-icon-fill-hover: var(--hhui-icon-fill-hover, #adb5ce);
$hhui-icon-fill-active: var(--hhui-icon-fill-active, #5e7ce0);
$hhui-icon-fill-active-hover: var(--hhui-icon-fill-active-hover, #526ecc);
$hhui-form-control-line: var(--hhui-form-control-line, #adb0b8);
$hhui-form-control-line-hover: var(--hhui-form-control-line-hover, #575d6c);
$hhui-form-control-line-active: var(--hhui-form-control-line-active, #5e7ce0);
$hhui-form-control-line-active-hover: var(--hhui-form-control-line-active-hover, #344899);
$hhui-list-item-active-bg: var(--hhui-list-item-active-bg, #5e7ce0);
$hhui-list-item-active-text: var(--hhui-list-item-active-text, #ffffff);
$hhui-list-item-active-hover-bg: var(--hhui-list-item-active-hover-bg, #526ecc);
$hhui-list-item-hover-bg: var(--hhui-list-item-hover-bg, #f2f5fc);
$hhui-list-item-hover-text: var(--hhui-list-item-hover-text, #526ecc);
$hhui-list-item-selected-bg: var(--hhui-list-item-selected-bg, #e9edfa);
$hhui-list-item-strip-bg: var(--hhui-list-item-strip-bg, #f2f5fc);
$hhui-disabled-bg: var(--hhui-disabled-bg, #f5f5f6);
$hhui-disabled-line: var(--hhui-disabled-line, #dfe1e6);
$hhui-disabled-text: var(--hhui-disabled-text, #adb0b8);
$hhui-primary-disabled: var(--hhui-primary-disabled, #beccfa);
$hhui-icon-fill-active-disabled: var(--hhui-icon-fill-active-disabled, #beccfa);
$hhui-label-bg: var(--hhui-label-bg, #eef0f5);
$hhui-connected-overlay-bg: var(--hhui-connected-overlay-bg, #ffffff);
$hhui-connected-overlay-line: var(--hhui-connected-overlay-line, #526ecc);
$hhui-fullscreen-overlay-bg: var(--hhui-fullscreen-overlay-bg, #ffffff);
$hhui-feedback-overlay-bg: var(--hhui-feedback-overlay-bg, #464d6e);
$hhui-feedback-overlay-text: var(--hhui-feedback-overlay-text, #dfe1e6);
$hhui-embed-search-bg: var(--hhui-embed-search-bg, #f2f5fc);
$hhui-embed-search-bg-hover: var(--hhui-embed-search-bg-hover, #eef0f5);
$hhui-float-block-shadow: var(--hhui-float-block-shadow, rgba(94, 124, 224, 0.3));
$hhui-highlight-overlay: var(--hhui-highlight-overlay, rgba(255, 255, 255, 0.8));
$hhui-range-item-hover-bg: var(--hhui-range-item-hover-bg, #e9edfa);
$hhui-primary: var(--hhui-primary, #5e7ce0);
$hhui-primary-hover: var(--hhui-primary-hover, #7693f5);
$hhui-primary-active: var(--hhui-primary-active, #344899);
$hhui-contrast-hover: var(--hhui-contrast-hover, #d64a52);
$hhui-contrast-active: var(--hhui-contrast-active, #b12220);
$hhui-danger-line: var(--hhui-danger-line, #f66f6a);
$hhui-danger-bg: var(--hhui-danger-bg, #ffeeed);
$hhui-warning-line: var(--hhui-warning-line, #fa9841);
$hhui-warning-bg: var(--hhui-warning-bg, #fff3e8);
$hhui-info-line: var(--hhui-info-line, #5e7ce0);
$hhui-info-bg: var(--hhui-info-bg, #f2f5fc);
$hhui-success-line: var(--hhui-success-line, #50d4ab);
$hhui-success-bg: var(--hhui-success-bg, #edfff9);
$hhui-primary-line: var(--hhui-primary-line, #5e7ce0);
$hhui-primary-bg: var(--hhui-primary-bg, #f2f5fc);
$hhui-default-line: var(--hhui-default-line, #5e7ce0);
$hhui-default-bg: var(--hhui-default-bg, #f3f6f8);
$hhui-font-size: var(--hhui-font-size, 12px);
$hhui-font-size-card-title: var(--hhui-font-size-card-title, 14px);
$hhui-font-size-page-title: var(--hhui-font-size-page-title, 16px);
$hhui-font-size-modal-title: var(--hhui-font-size-modal-title, 18px);
$hhui-font-size-price: var(--hhui-font-size-price, 20px);
$hhui-font-size-data-overview: var(--hhui-font-size-data-overview, 24px);
$hhui-font-size-icon: var(--hhui-font-size-icon, 16px);
$hhui-font-size-sm: var(--hhui-font-size-sm, 12px);
$hhui-font-size-md: var(--hhui-font-size-md, 12px);
$hhui-font-size-lg: var(--hhui-font-size-lg, 14px);
$hhui-font-title-weight: var(--hhui-font-title-weight, bold);
$hhui-font-content-weight: var(--hhui-font-content-weight, normal);
$hhui-line-height-base: var(--hhui-line-height-base, 1.5);
$hhui-border-radius: var(--hhui-border-radius, 2px);
$hhui-border-radius-feedback: var(--hhui-border-radius-feedback, 4px);
$hhui-border-radius-card: var(--hhui-border-radius-card, 6px);
$hhui-shadow-length-base: var(--hhui-shadow-length-base, 0 1px 4px 0);
$hhui-shadow-length-slide-left: var(--hhui-shadow-length-slide-left, -2px 0 8px 0);
$hhui-shadow-length-slide-right: var(--hhui-shadow-length-slide-right, 2px 0 8px 0);
$hhui-shadow-length-connected-overlay: var(--hhui-shadow-length-connected-overlay, 0 2px 8px 0);
$hhui-shadow-length-hover: var(--hhui-shadow-length-hover, 0 4px 16px 0);
$hhui-shadow-length-feedback-overlay: var(--hhui-shadow-length-feedback-overlay, 0 4px 16px 0);
$hhui-shadow-fullscreen-overlay: var(--hhui-shadow-fullscreen-overlay, 0 8px 40px 0);
$hhui-animation-duration-slow: var(--hhui-animation-duration-slow, 300ms);
$hhui-animation-duration-base: var(--hhui-animation-duration-base, 200ms);
$hhui-animation-duration-fast: var(--hhui-animation-duration-fast, 100ms);
$hhui-animation-ease-in: var(--hhui-animation-ease-in, cubic-bezier(0.5, 0, 0.84, 0.25));
$hhui-animation-ease-out: var(--hhui-animation-ease-out, cubic-bezier(0.16, 0.75, 0.5, 1));
$hhui-animation-ease-in-out: var(--hhui-animation-ease-in-out, cubic-bezier(0.5, 0.05, 0.5, 0.95));
$hhui-animation-ease-in-smooth: var(--hhui-animation-ease-in-smooth, cubic-bezier(0.645, 0.045, 0.355, 1));
$hhui-animation-linear: var(--hhui-animation-linear, cubic-bezier(0, 0, 1, 1));
$hhui-z-index-full-page-overlay: var(--hhui-z-index-full-page-overlay, 1080);
$hhui-z-index-pop-up: var(--hhui-z-index-pop-up, 1060);
$hhui-z-index-dropdown: var(--hhui-z-index-dropdown, 1052);
$hhui-z-index-modal: var(--hhui-z-index-modal, 1050);
$hhui-z-index-drawer: var(--hhui-z-index-drawer, 1040);
$hhui-z-index-framework: var(--hhui-z-index-framework, 1000)